<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :url %>
  <%= form.text_field :url, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :logo %>
  <%= form.file_field :logo %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="text-field">
  <%= form.label :industry %>
  <%= form.select :industry, [['Finance and Banking'],['Tourism'],['Technology'],['Food & Beverages'],['Fashion'],['other']] %>
  <%= form.text_field :industry, id: "industry_text", style: "display: none", placeholder: 'Insert your industry here' %>
</div>

<div class="text-field">
  <%= form.label :location %>
  <%= form.country_select :location, priority_countries: ["MY"] %>
</div>

<div class="text-field">
  <%= form.label :engineers %>
  <%= form.label :engineers, "Yes", value: true %>
  <%= form.radio_button :engineers, true %>
  <%= form.label :engineers, "No", value: false %>
  <%= form.radio_button :engineers, false, checked: true%>
</div>

<div class="text-field">
  <%= form.label :core_stack, 'Core tech stack' %>
  <%= form.text_area :core_stack %>
</div>

<div class="text-field">
  <%= form.label :no_of_employees %>
  <%= form.select :stage, [["1-5"], ["5-10"],["10-15"],["15-20"],["20+"]] %>
</div>

<script>
  $(document).ready(function(){
    var selection = $('#company_industry').val();
    if (selection === "other" ){
      $('#industry_text').show()
      $('#industry_text').attr('name','company["industry"]')
    }
    $('#company_industry').on('change',function(){
      var selection = $(this).val();
      if (selection === "other" ){
        $('#industry_text').show()
        $('#industry_text').attr('name','company[industry]')
      }
      else {
        $('#industry_text').hide()
        $('#industry_text').attr('name','empty')
      }
      console.log("hi");
    });
  });
</script>
