<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :url %>
  <%= form.text_field :url, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :logo %>
  <%= form.text_field :logo %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :industry %>
  <%= form.text_field :industry %>
</div>

<div class="text-field">
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>

<div class="text-field">
  <%= form.label :engineers %>
  <%= form.text_field :engineers %>
</div>

<div class="text-field">
  <%= form.label :core_stack %>
  <%= form.text_field :core_stack %>
</div>

<div class="text-field">
  <%= form.label :stage %>
  <%= form.text_field :stage %>
</div>
